@import url(../fonts/GothamBook.css);
@import url(../fonts/GothamBold.css);

#container h1{
	font-size: 18px;
	display: inline-block;
}
.btn_new{
	display: inline-block;
	background: #239baa;
	color: #fff;
	padding: 5px 25px;
	border-radius: 4px;
	margin: 20px;
}
table{
	border-collapse: collapse;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
table th{
	text-align: left;
	padding: 10px;
	background: #3d7ba8;
	color: #fff;
}
table tr:nth-child(odd){
	background: #fff;
}
table td{
	padding: 10px;
}
.link_Edit{
	color: #0ca4ce;
}
.link_delete{
	color: #f26b6b;
}

.paginador ul{
	padding: 15px;
	list-style: none;
	background: #fff;
	margin-top: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

}
.paginador a, .pageSelected{
	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ddd;
}
.pageSelected{
	color: #fff;
	background: #428bca;
	border: 1px solid #428bca;
}

.titlePanelControl{
	width: 100%;
	background: #fff;
	padding: 5px 15px;
	margin-bottom: 10px;
}

.dashboard{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around ;
    width: 100%;
    margin: auto;
}
.dashboard{
    color: #898989;
    width: calc(100% / 5);
}